/* Media query */
/***********************************************
Breakpoint           | Class infix | Dimension
---------------------|-------------|----------
[_] player           | none        | height 350
[_] x-small          | none        | <576px
[_] small            | sm          | ≥576px
[_] medium           | md          | ≥768px
[_] large            | lg          | ≥992px
***********************************************/

/* Player - height 350 */
/* @media screen and (height: 350vh){
  
}  */
/* X-small - <576px */
@media screen and (min-width: 576px){
  aside{
    width: 40px;
    /* background-color: #000000;
    color: #ffffff; */
    padding: 5px;
    /* position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start; */
  }
  .aside.menu, .playlist{
    display: none;
  }

  main{
  width: calc(100% - 40px);
  height: 100%;
  overflow-y: auto;
  }
  .footer{
    
  }
  
}