/* Media query */
/***********************************************
Breakpoint           | Class infix | Dimension
---------------------|-------------|----------
[_] player           | none        | height 350
[_] x-small          | none        | <576px
[_] small            | sm          | ≥576px
[_] medium           | md          | ≥768px
[_] large            | lg          | ≥992px
***********************************************/

/* Player - height 350 */
/* @media screen and (height: 350vh){
  
}  */
/* X-small - <576px */
@media screen and (min-width: 576px){
  /* Wrapper-content */
  .wrapper-content{
    height: calc(100% - 40px);
  }

  /* Aside */
  aside{
    width: 40px;
    padding: 5px;
  }
  aside .logo img{
    display: none;
  }
  aside .logo{
    display: visible;
    width: 30px;
    height: 30px;
    background-image: url(../img/logo-small.svg);
    background-position: cover;
  }
  /* Menu */
  aside ul{
    margin: 20px 0;
    font-size: 10px;
  }
  aside .menu {
    display: none;
  }
  aside .menu-x-small{
    display: block;
  }
  /* Playlist */
  aside .playlist{
    display: none;
  }
  /* App */
  aside .app-x-small{
    display: block;
  }
  aside .app{
    display: none;
  }
  aside .app-x-small{
    width: 100%;
    position: absolute;
    bottom: 50px;
    left: 0;
    padding: 0 5px;
  }
  aside .app-x-small ul li{
    list-style-type: none;
    margin: 10px auto;
    text-align: center;
  }
  aside .app-x-small .profile{
    color: #ffffff;
    background-color: #747474;
    border-radius: 50%;
  }
  /***************************************/
  /* Main */
  main{
  width: calc(100% - 40px);
  height: 100%;
  overflow-y: auto;
  }

  /**************************************/

  /* Footer */
  .footer{
    
  }
  
}