/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.debug{
  border: 1px solid yellow;
}
/* General */
body{
  background-color: #14181f;
  color: #fffeff;
  font-family: 'Montserrat', sans-serif;
}
.horizontal-line{
  width: 90%;
  border: 1px solid #747474;
  margin: 10px;
}
.verical-line{
  width: 90%;
  border-left: 3px solid #a4ff2a;
  margin: auto;
}
/* Wrapper */
.wrapper{
  width: 100%;
  height: 100vh;
}
/* Wrapper-content */
.wrapper-content{
  height: calc(100% - 90px);
  display: flex;
}
/* Aside - Logo -  Menu - Playlist - App */
aside{
  width: 230px;
  background-color: #000000;
  color: #ffffff;
  padding: 15px;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
/* Logo */
aside .logo img{
  height: 40px;
  margin: 10px 5px;
}
/* Menu */
aside ul{
  margin: 10px 0;
}
aside .menu ul li{
  list-style-type: none;
  margin: 5px 0;
}
aside a{
  color: #74767a;
  text-decoration: none;
  font-weight: 700;
}
.aside-a-active{
  border-left: 2px solid #a4ff2a;
  font-weight: 700;
  color: #ffffff;
}
aside .icon{
  height: 30px;
  vertical-align: middle;
}
.menu-x-small{
  display: none;
} /* per media query x-small*/
/* Playlist */
aside .playlist{
  padding: 10px;
}
aside .playlist h3{
  text-transform: uppercase;
}
aside .playlist ul{
  margin: 10px 0;
}
aside .playlist ul li{
  list-style-type: none;
  margin: 15px 0;
  font-size: 14px;
}
aside .playlist a{
  color: #74767a;
  text-decoration: none;
  font-weight: 700;
}
.fa-square-plus{
  font-size: 40px;
  color: #999999;
  vertical-align: middle;
}

/* App */
aside .app{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
}
aside ul{
  margin: 10px 0;
}
aside .app ul li{
  list-style-type: none;
  margin: 10px 0;
  margin-left: 10px;
  text-align: left;
}
aside .app a{
  color: #74767a;
  text-decoration: none;
  font-weight: 700;
}
aside .app .aside-app-a-active{
  font-weight: 700;
  color: #ffffff;
}
aside .app .icon {
  height: 15px;
  vertical-align: middle;
}
aside .app .icon img{
  height: 30px;
  margin-right: 5px;
  vertical-align: middle;
}
aside .app .profile{
  color: #ffffff;
  background-color: #747474;
  border-radius: 50%;
}
/* Main */
main{
  width: calc(100% - 230px);
  height: 100%;
  overflow-y: auto;
}
/* Nav top */
nav.top{
  height: 90px;
  width: calc(100% - 230px);
  background-color: rgba(10,14,19,0.3);
  position: fixed;
  z-index: 1;
}
nav.top .btn{
  border: 1px solid #ffffff;
  border-radius:12px;
  padding: 10px 30px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 700;
  position: absolute;
  top: 30%;
  right: 20px;
}
/* Top menu */
.top-menu{
  text-align: center; 
  padding-top: 90px;
}
.top-menu ul li{
  height: 60px;
  margin-left: 20px;
  display: inline-block;
  line-height: 60px;
}
.top-menu ul li a{
  color: #74767a;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}
.active{
  border-bottom: 2px solid #a4ff2a;
}
/* Main-content */
.main-content{
  width: 100%;
  padding-top: 90px;
  padding: 20px;
}
h1{
  padding: 10px;
}
.row-played{
  height: 280px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card{
  width: 190px;
  height: 280px;
  padding: 10px;
}
.card-img{
  height: 170px;
}
.card-title{
  text-align: center;
  margin: 10px auto;
  font-size: 0.9em;
  font-weight: 700;
}
.card-subtitle{
  text-align: center;
  margin: 10px auto;
  font-size: 0.7em;
  color: #74767a;
}
.row-created{
  height: 280px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
h2{ 
  padding: 30px 10px 0;
}
h6{ 
  padding: 10px;
  color: #74767a;
}
.row-popular{
  height: 280px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.row-popular .card .card-img img{
  border-radius: 50%
}
/* Footer */
footer{
  background-color: #242424;
  height: 90px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
/* Play-bar */
.player-bar{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Footer-left */
.footer-left{
  width: 230px;
  display: flex;
  justify-content: center;
}
.footer-left img{
  height: 44px;
  margin: 10px 5px;
}
.footer-left .on-air{
  padding: 20px 10px;
}
.footer-left .on-air .author{
  font-size: 14px;
  font-weight: 900;
  vertical-align: middle;
}
.footer-left .on-air .brano-name{
  font-size: 10px;
  font-weight: 900;
  color: #999999;
  text-transform: uppercase;
  vertical-align: middle;
}
.footer-icon{
  color: #74767a;
  margin: 30px 5px;
}
/* Footer-center */
.player-command{
  width: 530px;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
}
.player-command .play-icon {
  vertical-align: middle;
  margin: 10px;
}
.player-command .fa-circle-play{
  font-size: 30px;
}
.progress{
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
}
.progress .time-start, .time-end{
  margin: 0 20px;
  font-size: 10px;
  font-weight: 900;
}
.progress-bar{
  width: 80%;
  height: 5px;
  background-color: #74767a;
  border-radius: 20px;
}
.bar{
  width: 20%;
  height: 5px;
  background-color: #fff;
  border-radius: 20px;
}
/* Footer-right */
.footer-right{
  width: 230px;
}
.cmd-right{
  font-size: 14px;
  text-align: center;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cmd-right-icon{
  margin-right: 15px;
}
